.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.btn_in {
  background-color: var(--background-color);
  width: 120px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--border-button);
  color: var(--darkgrey, #252525);
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.nav_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 640px;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100%;
}

.back_image {
  position: absolute;
  margin-left: -500px;
}

.about_block {
  position: relative;
}