.container_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.genre {
    font-weight: 700;
    margin-top: 7px;
    margin-bottom: 2px;
}

.release {
    font-weight: 400;
    margin-top: 0px;
}

.cover {
    width: 212px;
    height: 288px;
    border-radius: 8px;
    background-size: 100% 100%;
}

.description {
    font-family: Roboto;
    width: 752px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 22px;
}

.name {
    color: var(--darkgrey, #252525);
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 4px;
    margin-top: 6px;
}

.original_name {
    color: var(--lightgrey, #949494);
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 6px;
}

.rating {
    color: var(--yellow, #E2B33A);
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 14px;
    margin-top: 6px;
}

.detail {
    border-radius: 8px;
    border: 2px solid var(--red-button);
    background: var(--red-button);
    width: 156px;
    height: 40px;
    margin-top: 12px;
    color: var(--white, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    text-decoration: none;
}

.full_description {
    color: var(--darkgrey, #252525);
    text-align: justify;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-evenly;
}

.title {
    color: var(--darkgrey, #252525);
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 4px;
}