.title {
    color: #F55A5A;
    text-align: center;
    font-family: Roboto;
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: 3.6px;
    text-shadow: 0 0 2px #585858;
}